In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv("datasets/Books.csv")
books.head()

d:\Programming\Python\End-to-End Project\book-recommender-system\venv\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
ratings = pd.read_csv("datasets/Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
users = pd.read_csv("datasets/Users.csv")
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
print(books.isnull().sum())
print(ratings.isnull().sum())
print(users.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64
User-ID        0
ISBN           0
Book-Rating    0
dtype: int64
User-ID          0
Location         0
Age         110762
dtype: int64

In [6]:
print(books.duplicated().sum())
print(ratings.duplicated().sum())
print(users.duplicated().sum())

0
0
0

## Popularity based Recommender System
> criteria for popular is avg rating is highest and atleast 250 ratings on that book

In [7]:
df = books.merge(ratings,on='ISBN')
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [8]:
df.groupby(by='Book-Title',as_index=False).count()[['Book-Title','Book-Rating']]

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [9]:
ratings_count = df.groupby(by='Book-Title',as_index=False).count()[['Book-Title','Book-Rating']]
ratings_count.rename(columns={'Book-Rating':'Total-Ratings'},inplace=True)
ratings_count.tail()

                            Book-Title  Total-Ratings
241066                   Ã?Â?lpiraten.              2
241067  Ã?Â?rger mit Produkt X. Roman.              4
241068             Ã?Â?sterlich leben.              1
241069           Ã?Â?stlich der Berge.              3
241070               Ã?Â?thique en toc              2

In [10]:
avg_rating = df.groupby(by='Book-Title',as_index=False).mean()[['Book-Title','Book-Rating']]
avg_rating.rename(columns={'Book-Rating':'Avg-Rating'},inplace=True)
avg_rating.tail()

                            Book-Title  Avg-Rating
241066                   Ã?Â?lpiraten.    0.000000
241067  Ã?Â?rger mit Produkt X. Roman.    5.250000
241068             Ã?Â?sterlich leben.    7.000000
241069           Ã?Â?stlich der Berge.    2.666667
241070               Ã?Â?thique en toc    4.000000

In [11]:
df1 = ratings_count.merge(avg_rating,on='Book-Title')
df1

,Book-Title,Total-Ratings,Avg-Rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [12]:
popular_books = df1[df1['Total-Ratings']>=250].sort_values('Avg-Rating',ascending=False).head(50)
popular_books

,Book-Title,Total-Ratings,Avg-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [13]:
popular_books = popular_books.merge(books,on='Book-Title')
popular_books

,Book-Title,Total-Ratings,Avg-Rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
4,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139600,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...
...,...,...,...,...,...,...,...,...,...,...
191,Lord of the Flies,259,3.818533,0698102193,William G. Golding,1978,Putnam Pub Group,http://images.amazon.com/images/P/0698102193.0...,http://images.amazon.com/images/P/0698102193.0...,http://images.amazon.com/images/P/0698102193.0...
192,A Prayer for Owen Meany,413,3.796610,0345361792,John Irving,1990,Ballantine Books,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...
193,A Prayer for Owen Meany,413,3.796610,0345363523,John Irving,1989,Ballantine Books,http://images.amazon.com/images/P/0345363523.0...,http://images.amazon.com/images/P/0345363523.0...,http://images.amazon.com/images/P/0345363523.0...
194,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409,0345313860,ANNE RICE,1986,Ballantine Books,http://images.amazon.com/images/P/0345313860.0...,http://images.amazon.com/images/P/0345313860.0...,http://images.amazon.com/images/P/0345313860.0...
195,White Oleander : A Novel (Oprah's Book Club),356,3.772472,0316284955,Janet Fitch,2000,Back Bay Books,http://images.amazon.com/images/P/0316284955.0...,http://images.amazon.com/images/P/0316284955.0...,http://images.amazon.com/images/P/0316284955.0...

In [14]:
popular_books.drop_duplicates('Book-Title',inplace=True)
popular_books.shape

(50, 10)

In [15]:
popular_books = popular_books[['Book-Title','Book-Author','Image-URL-M','Total-Ratings','Avg-Rating']]
popular_books.head()

,Book-Title,Book-Author,Image-URL-M,Total-Ratings,Avg-Rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453

## Collaborative System

consider only the users which have given minimum 200 ratings
and only books with more than 50 ratings

In [16]:
df.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
1031131,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,276463,7
1031132,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,276579,4
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,276680,0
1031134,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,276680,0
1031135,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,276680,0

In [20]:
df.groupby(by='User-ID',as_index=False).count()[['User-ID','Book-Rating']]

       User-ID  Book-Rating
0            2            1
1            8           17
2            9            3
3           10            1
4           12            1
...        ...          ...
92101   278846            1
92102   278849            4
92103   278851           23
92104   278852            1
92105   278854            8

[92106 rows x 2 columns]

In [23]:
temp = df.groupby(by='User-ID',as_index=False).count()[['User-ID','Book-Rating']]
temp = temp[temp['Book-Rating']>=200]
temp

       User-ID  Book-Rating
87         254          300
698       2276          456
862       2766          269
919       2977          227
1033      3363          890
...        ...          ...
90587   274308         1293
91112   275970         1325
91564   277427          490
91639   277639          265
91952   278418         3996

[816 rows x 2 columns]

In [25]:
user_with_200_rating = temp['User-ID'].values
user_with_200_rating

array([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
         6323,   6543,   6563,   6575,   7158,   7286,   7346,   7915,
         8067,   8245,   8681,   8890,   8936,  10447,  10819,  11601,
        11676,  11993,  12538,  12824,  12982,  13082,  13273,  13552,
        13850,  14422,  14521,  15408,  15418,  16106,  16634,  16795,
        16916,  16966,  17950,  18067,  18401,  19085,  19664,  20115,
        20201,  21014,  21252,  21576,  21659,  22625,  23288,  23768,
        23872,  23902,  24194,  24921,  25409,  25601,  25981,  26516,
        26535,  26544,  26583,  26593,  27617,  28204,  28360,  28523,
        28591,  29259,  29855,  30276,  30487,  30511,  30533,  30711,
        30735,  30972,  31315,  31391,  31556,  31826,  31846,  32195,
        32440,  32721,  32773,  33974,  35050,  35433,  35836,  35857,
        35859,  36606,  36609,  36836,  36907,  37567,  37712,  37950,
        38023,  38273,  38781,  39281,  39467,  39616,  39646,  39773,
        40889,  40943,  41084,  41841,  42914,  43246,  43806,  43842,
        44595,  44728,  46398,  47316,  48494,  49109,  49460,  49889,
        50225,  51094,  51350,  51386,  51450,  51883,  52199,  52584,
        52614,  52853,  52917,  53174,  53628,  53729,  54218,  55187,
        55490,  55492,  55548,  55734,  55892,  56271,  56399,  56447,
        56856,  56959,  59172,  59971,  60244,  60277,  60337,  60707,
        61619,  62272,  62891,  62895,  63394,  63714,  63938,  64436,
        65258,  66680,  67840,  68555,  69042,  69078,  69232,  69355,
        69405,  69697,  69808,  69971,  70052,  70415,  70594,  71712,
        72352,  72992,  73394,  73651,  75591,  75860,  76151,  76223,
        76352,  76499,  76626,  76818,  76942,  77809,  77940,  78553,
        78783,  78834,  78973,  79186,  79441,  80538,  80683,  81045,
        81492,  81560,  81977,  82407,  82831,  82893,  82926,  83637,
        84024,  85426,  85526,  85656,  85701,  85757,  85993,  86202,
        86243,  86641,  87141,  87143,  87555,  87746,  87974,  88283,
        88677,  88693,  88733,  88937,  89602,  91203,  91342,  91832,
        91931,  92547,  92652,  92810,  92979,  93047,  93085,  93363,
        93629,  94242,  94347,  94853,  94923,  95193,  95316,  95359,
        95903,  95932,  95991,  96054,  96448,  97874,  98391,  98741,
        98758, 100459, 100644, 100846, 100906, 101209, 101851, 101876,
       102275, 102647, 102702, 102967, 104399, 104429, 104636, 104665,
       105374, 105517, 105979, 106225, 106816, 107021, 107301, 107453,
       107784, 107951, 108005, 108285, 108352, 109461, 109574, 109955,
       110029, 110483, 110912, 110934, 110973, 111174, 111947, 112001,
       112026, 112881, 113270, 113519, 113817, 113904, 113983, 114178,
       114368, 114414, 114444, 114868, 114988, 115002, 115003, 115120,
       115490, 116599, 117251, 117539, 119575, 120093, 120548, 122429,
       122793, 122881, 123790, 123883, 123981, 124078, 124079, 124363,
       124487, 124942, 125039, 125519, 125692, 125774, 126492, 126604,
       126736, 127200, 127233, 127359, 127429, 127914, 128208, 128696,
       128835, 129008, 129074, 129358, 129465, 129716, 129851, 130474,
       130554, 130571, 131027, 131046, 131402, 131837, 131855, 132083,
       133571, 133689, 133747, 133868, 135045, 135149, 135265, 135458,
       135831, 136010, 136139, 136205, 136252, 136382, 137589, 137688,
       138097, 138441, 138578, 138844, 139467, 139742, 140000, 140036,
       140358, 141493, 141710, 141902, 142093, 142524, 143175, 143253,
       143415, 143792, 144531, 144555, 145449, 145451, 145619, 145641,
       146113, 146230, 146348, 147141, 147451, 147847, 147965, 148199,
       148258, 148744, 149069, 149907, 149908, 149934, 150124, 150498,
       150968, 150979, 151790, 151806, 152186, 152249, 153563, 153662,
       153718, 154992, 155014, 155147, 155219, 155495, 156150, 156269,
       156467, 157273, 157811, 158295, 159033, 159376, 159858, 160032,
       160819, 161752, 162052, 162639, 162738, 163804, 163973, 164027,
       164323, 164465, 164533, 164675, 164828, 165232, 165308, 165319,
       166123, 166596, 167349, 167471, 167800, 168047, 168064, 168144,
       168245, 169233, 169663, 169699, 170229, 170513, 170518, 170575,
       170634, 170742, 170947, 171118, 172030, 172512, 172742, 173291,
       173415, 173632, 173684, 173835, 174216, 174304, 174791, 175003,
       175886, 177072, 177090, 177374, 177432, 177458, 177690, 178181,
       178199, 178667, 178950, 179733, 179744, 179772, 179978, 180348,
       180586, 180651, 180917, 180957, 181176, 181687, 182085, 182086,
       182987, 182993, 183196, 183995, 184299, 185233, 185384, 186570,
       187145, 187256, 187517, 188010, 189334, 189516, 189835, 189973,
       190459, 190708, 190807, 190925, 191187, 192093, 193499, 193560,
       194600, 194669, 195694, 196047, 196077, 196160, 196457, 196502,
       197364, 197659, 197775, 198621, 198699, 198711, 199416, 199772,
       200226, 200674, 201017, 201290, 201447, 201526, 201674, 201768,
       201783, 203240, 203799, 203968, 204167, 204522, 204591, 204864,
       205473, 205735, 205980, 206074, 206534, 206567, 206979, 207246,
       207349, 207499, 207782, 208141, 208147, 208406, 208410, 208568,
       208671, 208829, 209373, 209516, 209756, 209875, 210035, 210485,
       210792, 210959, 211426, 211430, 211847, 211919, 212645, 212898,
       212923, 212965, 213150, 213350, 214272, 214786, 216012, 216444,
       216466, 216683, 217106, 217121, 217375, 217740, 218552, 218608,
       219546, 220278, 221445, 222050, 222204, 222296, 222941, 223087,
       223154, 224138, 224349, 224430, 224435, 224646, 224764, 225087,
       225199, 225232, 225763, 225810, 225986, 225989, 226545, 226879,
       226965, 227447, 227520, 227705, 228681, 228764, 228998, 229011,
       229313, 229329, 229551, 229741, 230249, 230496, 230522, 230708,
       231210, 231237, 231827, 231857, 232131, 232945, 233911, 233917,
       234359, 234623, 234721, 234828, 235105, 235282, 235392, 235842,
       235935, 236058, 236172, 236283, 236340, 236757, 236948, 236959,
       238120, 238526, 238541, 238545, 238557, 238699, 238781, 238961,
       239584, 239594, 240144, 240567, 240568, 241198, 241548, 241666,
       241980, 242006, 242083, 242106, 242299, 242409, 242646, 242824,
       243077, 244349, 244688, 244736, 245371, 245410, 245645, 245827,
       245963, 246156, 246311, 246513, 246655, 246671, 247429, 247447,
       247752, 248718, 249111, 249628, 249862, 249894, 250184, 250405,
       250764, 250962, 251394, 251422, 251613, 251843, 251844, 252071,
       252222, 252695, 252820, 252848, 253556, 253821, 254206, 254465,
       254899, 254971, 255092, 255218, 255489, 256167, 256402, 256407,
       257028, 257204, 257700, 258152, 258185, 258534, 258938, 259260,
       259380, 259629, 260897, 261105, 261829, 262399, 262998, 263163,
       263460, 263877, 264031, 264082, 264317, 264321, 264637, 265115,
       265313, 265595, 265889, 266056, 266226, 266753, 266865, 267635,
       268030, 268032, 268110, 268330, 268622, 268932, 269566, 269719,
       269890, 270713, 270820, 271195, 271284, 271448, 271705, 273979,
       274004, 274061, 274301, 274308, 275970, 277427, 277639, 278418],
      dtype=int64)

In [31]:
top_users = df[df['User-ID'].isin(user_with_200_rating)]
top_users.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526,0
7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054,0
10,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,177458,0
21,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,110912,10

In [32]:
temp2 = top_users.groupby(by='Book-Title',as_index=False).count()[['Book-Title','Book-Rating']]
temp2

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
156132                             Ã?Â?ber das Fernsehen.            2
156133  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            3
156134                                      Ã?Â?lpiraten.            1
156135                              Ã?Â?stlich der Berge.            1
156136                                  Ã?Â?thique en toc            1

[156137 rows x 2 columns]

In [40]:
temp2[temp2['Book-Rating']>50]

                                               Book-Title  Book-Rating
484                                                  1984           71
518                                   1st to Die: A Novel          160
653                                            2nd Chance          123
797                                             4 Blondes           70
1118                                   A Bend in the Road          114
...                                                   ...          ...
154964                                    Year of Wonders           57
155186                                   You Belong To Me           55
155811  Zen and the Art of Motorcycle Maintenance: An ...           62
155952                                               Zoya           59
156035                                \O\" Is for Outlaw"          102

[683 rows x 2 columns]

In [35]:
books_with_50_ratings = temp2[temp2['Book-Rating']>50]['Book-Title'].values
books_with_50_ratings

array(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \\It\\": One Child\'s Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       'A Fine Balance', 'A Great Deliverance',
       'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
       'A Man in Full', 'A Map of the World', 'A Painted House',
       'A Patchwork Planet', 'A Prayer for Owen Meany',
       'A Thin Dark Line (Mysteries &amp; Horror)',
       "A Thousand Acres (Ballantine Reader's Circle)", 'A Time to Kill',
       "A Virtuous Woman (Oprah's Book Club (Paperback))",
       'A Walk to Remember', 'A Widow for One Year', 'A Wrinkle In Time',
       'A Wrinkle in Time', 'A Year in Provence', "ANGELA'S ASHES",
       'About a Boy', 'Absolute Power', 'Acceptable Risk', 'Accident',
       'Airframe', 'All Around the Town', 'All I Really Need to Know',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'All the Pretty Horses (The Border Trilogy, Vol 1)',
       'Along Came a Spider (Alex Cross Novels)', 'American Gods',
       "Angela's Ashes (MMP) : A Memoir", "Angela's Ashes: A Memoir",
       'Angels', 'Angels &amp; Demons',
       'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
       'Animal Dreams', 'Animal Farm',
       'Anne Frank: The Diary of a Young Girl',
       'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'Anne of the Island', 'Artemis Fowl (Artemis Fowl, Book 1)',
       'Ashes to Ashes', 'At Home in Mitford (The Mitford Years)',
       'Atonement : A Novel',
       'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
       'Back Roads', 'Bag of Bones',
       'Balzac and the Little Chinese Seamstress : A Novel',
       'Bastard Out of Carolina', 'Beach House', 'Beach Music',
       'Before I Say Good-Bye', 'Bel Canto: A Novel', 'Beloved',
       'Beloved (Plume Contemporary Fiction)', 'Betrayal in Death',
       "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
       'Big Trouble', 'Billy Straight : A Novel', 'Birthright',
       'Bittersweet', 'Black House', 'Black Notice', 'Black and Blue',
       'Bleachers', 'Blessings', 'Blood Work', 'Blue Diary',
       'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
       'Body of Lies', 'Brave New World', 'Breath, Eyes, Memory',
       'Breathing Lessons', 'Bridge to Terabithia',
       'Bridget Jones : The Edge of Reason', "Bridget Jones's Diary",
       'Bridget Jones: The Edge of Reason', 'By the Light of the Moon',
       'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
       "CAT'S EYE", 'Call of the Wild', 'Carnal Innocence',
       'Carolina Moon', 'Carrie', 'Cat &amp; Mouse (Alex Cross Novels)',
       'Catering to Nobody', 'Cause of Death', 'Certain Prey',
       "Charlotte's Web (Trophy Newbery)",
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
       'Chocolat', 'Choke', 'Chosen Prey', 'Christine', 'Chromosome 6',
       'Circle of Friends', 'Clear and Present Danger (Jack Ryan Novels)',
       'Cold Mountain', 'Cold Mountain : A Novel', 'Cold Sassy Tree',
       'Colony',
       'Confessions of a Shopaholic (Summer Display Opportunity)',
       'Confessions of an Ugly Stepsister : A Novel', 'Congo', 'Contact',
       'Contagion', 'Coraline', 'Couplehood', 'Cradle and All',
       'Crazy for You',
       'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
       'Cry Wolf', 'Cujo',
       'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
       'Daddy', "Daddy's Little Girl", 'Daisy Fay and the Miracle Man',
       'Dance upon the Air (Three Sisters Island Trilogy)',
       'Dances With Wolves', 'Dangerous', 'Dark Angel', 'Dark Paradise',
       'Dark Rivers of the Heart', 'Dawn (Cutler)', 'Death du Jour',
       'Debt of Honor (Jack Ryan Novels)', 'Deception Point',
       'Deck the Halls (Holiday Classics)', 'Degree of Guilt',
       'Deja Dead', 'Desperation', 'Different Seasons',
       'Digital Fortress : A Thriller', 'Disclosure',
       'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'Dolores Claiborne', "Don't Stand Too Close to a Naked Man",
       "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
       "Dr. Atkins' New Diet Revolution", 'Dragon Tears',
       'Dragonfly in Amber', 'Dreamcatcher', 'Drowning Ruth',
       "Drowning Ruth (Oprah's Book Club)", 'Drums of Autumn',
       "Dude, Where's My Country?", 'Dust to Dust',
       'Dying for Chocolate (Culinary Mysteries (Paperback))',
       'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
       'Easy Prey', 'Echoes', 'Ellen Foster', 'Empire Falls',
       "Ender's Game (Ender Wiggins Saga (Paperback))",
       'Engaging The Enemy', 'Envy', 'Evening Class',
       "Everything's Eventual : 14 Dark Tales", 'Exclusive',
       'Executive Orders (Jack Ryan Novels)', 'Eyes of a Child',
       'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
       'FORREST GUMP (Movie Tie in)',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fahrenheit 451',
       'Faking It', 'Fall On Your Knees (Oprah #45)', 'Falling Angels',
       'False Memory', 'Family Album',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       'Fast Women', 'Fat Tuesday', 'Fatal Cure', 'Fatherhood',
       'Fear Nothing', 'Final Target', 'Fine Things', 'Fingersmith',
       'Five Days in Paris', 'Five Quarters of the Orange',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       "Fortune's Rocks : A Novel", "Fortune's Rocks: A Novel",
       "Foucault's Pendulum", 'Four Blind Mice', 'Four Past Midnight',
       'Four To Score (A Stephanie Plum Novel)',
       'Fried Green Tomatoes at the Whistle Stop Cafe',
       "From Potter's Field", 'From the Corner of His Eye',
       "Full House (Janet Evanovich's Full Series)",
       "Full Tilt (Janet Evanovich's Full Series)",
       'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
       'GARDEN OF SHADOWS (Dollanger Saga (Paperback))', "Gerald's Game",
       'Girl in Hyacinth Blue', 'Girl with a Pearl Earring',
       'Girl, Interrupted', 'Good Omens', 'Good in Bed', 'Granny Dan',
       'Guardian Angel', 'Guilty as Sin',
       'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
       'Hannibal',
       'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       "Harry Potter and the Sorcerer's Stone (Book 1)",
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'Harvest', 'Heart of the Sea (Irish Trilogy)', 'Heartbeat',
       'Heartbreaker', 'Hearts In Atlantis',
       'Heaven and Earth (Three Sisters Island Trilogy)', 'Hemlock Bay',
       'Here on Earth', 'Hide &amp; Seek', 'Hideaway', 'High Fidelity',
       'High Five (A Stephanie Plum Novel)', 'Holes (Yearling Newbery)',
       'Homecoming', 'Homeport', "Hornet's Nest",
       'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'House of Sand and Fog', 'How Stella Got Her Groove Back',
       'How to Be Good', 'How to Make an American Quilt',
       'I Capture the Castle', 'I Is for Innocent',
       'I Know This Much Is True',
       "I Know This Much Is True (Oprah's Book Club)",
       'I Know Why the Caged Bird Sings', "I'll Be Seeing You",
       'Icebound', 'Icy Sparks', 'If Only It Were True',
       'If Tomorrow Comes', 'In Her Shoes : A Novel',
       'Inner Harbor (Quinn Brothers (Paperback))', 'Insomnia',
       'Intensity', 'Interview with the Vampire',
       'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
       'Into the Wild', 'Invasion', 'Irish Hearts', 'Isle of Dogs', 'It',
       'It Was on Fire When I Lay Down on It', "It's Always Something",
       'J Is for Judgment', 'Jack &amp; Jill (Alex Cross Novels)',
       'Jacob Have I Loved',
       'Jemima J: A Novel About Ugly Ducklings and Swans', 'Jewel',
       "Jewel (Oprah's Book Club)", 'Jewels of the Sun (Irish Trilogy)',
       'Journey', 'Jurassic Park',
       'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
       'Kaleidoscope', 'Key of Knowledge (Key Trilogy (Paperback))',
       'Key of Light (Key Trilogy (Paperback))',
       'Key of Valor (Roberts, Nora. Key Trilogy, 3.)', 'Killjoy',
       'Kiss the Girls', 'L Is for Lawless', 'Ladder of Years',
       'Lake Wobegon Days',
       "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
       'Last Chance Saloon', 'Last Man Standing',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
       'Let Me Call You Sweetheart', 'Life of Pi', 'Lightning',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
       'Little Altars Everywhere: A Novel', 'Long After Midnight',
       'Lord of the Flies',
       'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
       'Loves Music, Loves to Dance', 'Lucky : A Memoir',
       'M Is for Malice', 'Macgregor Brides (Macgregors)',
       'Macgregor Grooms (Macgregors)', 'Master of the Game', 'Matilda',
       'Me Talk Pretty One Day',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Mercy', 'Message from Nam', 'Message in a Bottle',
       'Middlesex: A Novel', 'Midnight', 'Midnight Bayou',
       'Midnight in the Garden of Good and Evil',
       'Midnight in the Garden of Good and Evil: A Savannah Story',
       'Midwives: A Novel', 'Mind Prey', 'Mirror Image', 'Misery',
       'Miss Julia Speaks Her Mind : A Novel', 'Montana Sky', 'Moo',
       'Moonlight Becomes You',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Mortal Fear', 'Mortal Prey', 'Mother of Pearl', 'Mr. Murder',
       'My Gal Sunday', 'Mystic River', 'N Is for Noose', 'Naked',
       'Needful Things', 'Nerd in Shining Armor', 'Neverwhere',
       'Nickel and Dimed: On (Not) Getting By in America',
       'Nicolae: The Rise of Antichrist (Left Behind No. 3)', 'Night',
       'Night Prey', 'Night Sins', 'Night Whispers',
       'Nightmares &amp; Dreamscapes', 'Nights in Rodanthe',
       'No Greater Love', 'No Safe Place', 'Nothing Lasts Forever',
       'Now You See Her', 'On the Street Where You Live',
       'One Door Away from Heaven', 'One True Thing',
       'One for the Money (A Stephanie Plum Novel)',
       'One for the Money (Stephanie Plum Novels (Paperback))',
       'Oryx and Crake', 'Outlander', 'Over the Edge', 'P Is for Peril',
       'Paradise', 'Patriot Games (Jack Ryan Novels)', 'Pay It Forward',
       'Peace Like a River', 'Pet Sematary', 'Phantoms', 'Pigs in Heaven',
       'Plainsong (Vintage Contemporaries)', 'Pleading Guilty',
       'Plum Island', 'Point of Origin',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Pop Goes the Weasel', 'Possession : A Romance', 'Postmortem',
       'Practical Magic', 'Presumed Innocent',
       "Pretend You Don't See Her", 'Pride and Prejudice',
       'Primary Colors: A Novel of Politics', 'Prime Cut',
       'Prodigal Summer', 'Purity in Death', 'Q Is for Quarry',
       'Rainbow Six', 'Range of Motion', 'Rebecca', 'Red Dragon',
       'Red Storm Rising', 'Remember Me', 'Riptide', 'Rising Sun',
       'Rising Tides', "River's End", 'River, Cross My Heart',
       'Rose Madder', 'Roses Are Red (Alex Cross Novels)',
       'Rules of Prey', 'SHIPPING NEWS', 'STONES FROM THE RIVER',
       'Sacred Sins', 'Saint Maybe', 'Sanctuary', 'Saving Faith',
       'Scarlet Feather',
       'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""',
       "Schindler's List", 'Sea Glass: A Novel',
       'Sea Swept (Quinn Brothers (Paperback))', 'Seabiscuit',
       'Seabiscuit: An American Legend', 'Secret History', 'Secrets',
       'Seize the Night', 'Seven Habits Of Highly Effective People',
       'Seven Up (A Stephanie Plum Novel)', 'Shadowfires', 'Shattered',
       "She's Come Undone (Oprah's Book Club (Paperback))",
       "She's Come Undone (Oprah's Book Club)", 'Shell Seekers',
       'Shopaholic Takes Manhattan (Summer Display Opportunity)',
       'Shopaholic Ties the Knot', 'Sick Puppy', 'Silence of the Lambs',
       'Silent Witness', 'Skeleton Crew', 'Skipping Christmas',
       'Slammerkin', 'Sleepers', 'Slow Waltz in Cedar Bend',
       'Small Town Girl', "Smilla's Sense of Snow",
       'Snow Falling on Cedars', 'Sole Survivor',
       "Song of Solomon (Oprah's Book Club (Paperback))",
       "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
       "Sophie's World: A Novel About the History of Philosophy",
       'Southern Cross', 'Sphere', 'Standoff',
       'Stanislaski Brothers (Silhouette Promo)', 'Still Waters',
       'Stillwatch', 'Strangers',
       'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
       'Sudden Prey', 'Summer Pleasures', 'Summer Sisters',
       "Suzanne's Diary for Nicholas",
       'Taltos: Lives of the Mayfair Witches', 'Tara Road',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'Tears of the Moon (Irish Trilogy)', 'Tell Me Lies (Tell Me Lies)',
       'Tell No One', 'Temptation', 'That Camden Summer',
       'The Accidental Tourist',
       'The Alchemist: A Fable About Following Your Dream', 'The Alibi',
       'The Alienist', 'The Andromeda Strain', 'The Angel of Darkness',
       'The Bachelor (Warner Books Contemporary Romance)',
       'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
       'The Bad Place', 'The Beach House', 'The Bean Trees',
       'The Blind Assassin', 'The Blue Nowhere : A Novel',
       'The Body Farm', "The Bonesetter's Daughter",
       'The Bonfire of the Vanities',
       "The Book of Ruth (Oprah's Book Club (Paperback))",
       'The Bourne Identity', 'The Bourne Supremacy',
       'The Bourne Ultimatum', 'The Boy Next Door', 'The Brethren',
       'The Bridges of Madison County', 'The Burden of Proof',
       'The Cardinal of the Kremlin (Jack Ryan Novels)', 'The Carousel',
       'The Catcher in the Rye',
       'The Celestine Prophecy (Celestine Prophecy)', 'The Chamber',
       'The Cider House Rules',
       "The Clan of the Cave Bear (Earth's Children (Paperback))",
       'The Client', 'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color Purple',
       "The Color of Water: A Black Man's Tribute to His White Mother",
       'The Copper Beech', 'The Cradle Will Fall',
       'The Crimson Petal and the White', 'The Da Vinci Code',
       'The Dark Half', 'The Deep End of the Ocean',
       'The Devil Wears Prada : A Novel',
       'The Diary of Ellen Rimbauer: My Life at Rose Red',
       'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'The Dogs of Babel (Today Show Book Club #12)',
       'The Door to December',
       'The Drawing of the Three (The Dark Tower, Book 2)', 'The Edge',
       'The Eight', 'The Empty Chair', 'The English Patient',
       'The Eyre Affair: A Novel',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       'The Firm', 'The First Counsel',
       'The Five People You Meet in Heaven', "The General's Daughter",
       'The Genesis Code', 'The Gift', 'The Girl Who Loved Tom Gordon',
       "The Girls' Guide to Hunting and Fishing",
       'The Giver (21st Century Reference)', 'The Glass Lake',
       'The God of Small Things',
       'The Golden Compass (His Dark Materials, Book 1)',
       'The Great Gatsby', 'The Green Mile', 'The Guardian',
       'The Gunslinger (The Dark Tower, Book 1)', "The Handmaid's Tale",
       "The Hitchhiker's Guide to the Galaxy",
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'The Honk and Holler Opening Soon', 'The Horse Whisperer',
       'The Hot Zone', 'The Hours : A Novel', 'The Hours: A Novel',
       'The House of the Spirits', 'The Hundred Secret Senses',
       'The Hunt for Red October',
       "The Idiot Girls' Action Adventure Club", 'The Jester',
       'The Joy Luck Club',
       'The Killing Game: Only One Can Win...and the Loser Dies',
       'The King of Torts', 'The Kiss', "The Kitchen God's Wife",
       'The Last Precinct', 'The Last Time They Met : A Novel',
       'The Long Road Home', 'The Loop', 'The Lost World',
       'The Lottery Winner : Alvirah And Willy Stories',
       'The Lovely Bones: A Novel', 'The Mists of Avalon',
       'The Most Wanted', 'The Mulberry Tree',
       'The Mummy or Ramses the Damned', 'The Murder Book',
       'The Nanny Diaries: A Novel', 'The Next Accident',
       "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
       'The Notebook', 'The Other Boleyn Girl', 'The Partner',
       'The Pelican Brief',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Pillars of the Earth', "The Pilot's Wife : A Novel",
       "The Plains of Passage (Earth's Children (Paperback))",
       'The Poisonwood Bible', 'The Poisonwood Bible: A Novel',
       'The Prince of Tides', 'The Promise', 'The Pull of the Moon',
       'The Queen of the Damned (Vampire Chronicles (Paperback))',
       'The Rainmaker', 'The Rapture of Canaan', 'The Reader',
       'The Red Tent (Bestselling Backlist)', 'The Reef',
       'The Regulators',
       'The Reptile Room (A Series of Unfortunate Events, Book 2)',
       'The Rescue', 'The Return Journey',
       'The Return of the King (The Lord of the Rings, Part 3)',
       'The Robber Bride', 'The Runaway Jury', 'The Sands of Time',
       'The Saving Graces: A Novel', 'The Search', 'The Secret Garden',
       'The Secret Life of Bees', 'The Shipping News : A Novel',
       'The Simple Truth', 'The Smoke Jumper', 'The Stone Diaries',
       'The Street Lawyer',
       'The Subtle Knife (His Dark Materials, Book 2)',
       'The Sum of All Fears (Jack Ryan Novels)', 'The Summerhouse',
       'The Summons', 'The Surgeon',
       "The Sweet Potato Queens' Book of Love", 'The Switch',
       'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
       'The Talisman', 'The Tao of Pooh', 'The Temple of My Familiar',
       'The Testament', 'The Thorn Birds', 'The Tommyknockers',
       'The Two Towers (The Lord of the Rings, Part 2)',
       'The Ugly Duckling', 'The Valley of Horses',
       'The Vampire Lestat (Vampire Chronicles, Book II)', 'The Villa',
       'The Virgin Suicides', 'The Wedding',
       'The Weight of Water : A Novel Tag: Author of Resistance and Strange Fits of Passion',
       'The Winner', 'The Witching Hour (Lives of the Mayfair Witches)',
       'The Witness', 'The Woman Next Door', 'Thinner', 'Three Fates',
       'Three Junes',
       'Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Timeline', 'Tis : A Memoir', 'To Kill a Mockingbird',
       'To the Nines: A Stephanie Plum Novel',
       "Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))",
       'Touching Evil', 'Toxin',
       'Tribulation Force: The Continuing Drama of Those Left Behind (Left Behind No. 2)',
       'Truly, Madly Manhattan',

In [37]:
top_books = top_users[top_users['Book-Title'].isin(books_with_50_ratings)]
top_books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...,...,...,...,...
1028414,1878702831,Echoes,Nancy Morse,1992,Meteor Publishing Corporation,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,1996,Random House,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,0449001164,The Promise,CHAIM POTOK,1997,Ballantine Books,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,0743527631,The Pillars of the Earth,Ken Follett,2002,Encore,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,0745168086,The Handmaid's Tale,Margaret Atwood,1999,Chivers Audio Books,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [42]:
print(top_books.shape)
print(top_books['User-ID'].isin(user_with_200_rating).shape)
print(top_books['Book-Title'].isin(books_with_50_ratings).shape)

(57623, 10)
(57623,)
(57623,)

In [45]:
top_books.drop_duplicates()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...,...,...,...,...
1028414,1878702831,Echoes,Nancy Morse,1992,Meteor Publishing Corporation,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,1996,Random House,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,0449001164,The Promise,CHAIM POTOK,1997,Ballantine Books,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,0743527631,The Pillars of the Earth,Ken Follett,2002,Encore,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,0745168086,The Handmaid's Tale,Margaret Atwood,1999,Chivers Audio Books,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [61]:
final_rating_table = top_books.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
final_rating_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [62]:
final_rating_table.fillna(0,inplace=True)
final_rating_table

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0